<a href="https://colab.research.google.com/github/GODHYEONJU/self_test/blob/main/D_HunGong02_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
d = {"name" : "혼자 공부하는 데이터 분석"}
print(d['name'])
print(type(d))

혼자 공부하는 데이터 분석
<class 'dict'>

In [ ]:
import json #파이썬에서 json열기기

In [ ]:
d_str = json.dumps(d, ensure_ascii=False)
print(d_str)

{"name": "혼자 공부하는 데이터 분석"}

In [ ]:
print(type(d_str)) #딕셔너리가 문자열로 바뀜

<class 'str'>

In [ ]:
d2 = json.loads(d_str) #다시 문자열을 딕셔너리로 변환환
print(d2['name'])

혼자 공부하는 데이터 분석

In [ ]:
print(type(d2))

<class 'dict'>

In [ ]:
d3 = json.loads('{"name": "혼자 공부하는 데이터 분석","author": "박해선", "year":2022}')
print(d2['name'])
print(d3['author'])
print(d3['year'])

혼자 공부하는 데이터 분석
박해선
2022

In [ ]:
d3 = json.loads('{"name": "혼자 공부하는 데이터 분석","author": ["박해선","홍길동"], "year":2022}')
print(d3['author'][1])

홍길동

In [ ]:
d4_str = """
[
  {"name" : "혼자 공부하는 데이터 분석", "author" : "박해선", "year" : 2022},
  {"name" : "혼자 공부하는 머신러닝+딥러닝", "author" : "박해선", "year" : 2020} 
]"""
d4 = json.loads(d4_str)
print(d4[0]['name'])

혼자 공부하는 데이터 분석

In [ ]:
import pandas as pd
pd.read_json(d4_str)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

In [ ]:
pd.DataFrame(d4)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

In [ ]:
x_str = """
  <book>
      <name>혼자 공부하는 데이터 분석</name>
      <author>박해선</author>
      <year>2022</year>
    </book>
"""

In [ ]:
import xml.etree.ElementTree as et
book = et.fromstring(x_str)

In [ ]:
print(type(book))

<class 'xml.etree.ElementTree.Element'>

In [ ]:
print(book.tag)

book

In [ ]:
book_childs = list(book)
print(book_childs)

[<Element 'name' at 0x7fd7ce997c20>, <Element 'author' at 0x7fd7ce997c70>, <Element 'year' at 0x7fd7ce997860>]

In [ ]:
name, author, year = book_childs
print(name.text)
print(author.text)
print(year.text)

혼자 공부하는 데이터 분석
박해선
2022

In [ ]:
name = book.findtext('name')
name = book.findtext('author')
name = book.findtext('year')
print(name)
print(author)
print(year)

2022
<Element 'author' at 0x7fd7ce997c70>
<Element 'year' at 0x7fd7ce997860>

In [ ]:
x2_str = """
<books>
  <book>
      <name>
        혼자 공부하는 데이터 분석
      </name>
      <author>
        박해선
      </author>
      <year>2022</year>
  </book>
    <book>
      <name>
        혼자 공부하는 머신러닝 +딥러닝
      </name>
      <author>
        박해선
      </author>
      <year>2020</year>
  </book>
</books>"""

In [ ]:
books = et.fromstring(x2_str)
print(books.tag)

books

In [ ]:
for book in books.findall('book'):
  name = book.findtext('name')
  author = book.findtext('author')
  year = book.findtext('year')
  print(name)
  print(author)
  print(year)
  print()

        혼자 공부하는 데이터 분석


        박해선

2022


        혼자 공부하는 머신러닝 +딥러닝


        박해선

2020

In [ ]:
pd.read_xml(x2_str)

                name author  year
0     혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝 +딥러닝    박해선  2020

In [ ]:
import requests

In [ ]:
QWSWWurl = "http://data3library.kr.api/loanItemSrch?format=json&startDt=2021-04-01&endDt=2021-04-30&authkey=c01e"